<extend name="Public:base"/>
<block name='title'>ECSHOP 管理中心 - 商品分类 </block>
<block name='header'>
    <span class="action-span"><a href="__GROUP__/Category/categoryAdd">添加分类</a></span>
    <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 商品分类 </span>
    <div style="clear:both"></div>
</block>
<block name='body'>
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
                <th>编号</th>
                <th>属性名称</th>
                <th>所属类型</th>
                <th>属性类型</th>
                <th>属性录入方法</th>
                <th>默认值</th>
                <th>操作</th>
            </tr>
            <volist name='data.list' id='vo'>       
            <tr align="center" class="0">
                <td align="center">{$vo.id}</td>
                <td align="center"><span>{$vo.attr_name}</span></td>
                <td align="center"><span>{$vo.type_id}</span></td>
                <td align="center"><span><eq name="vo.attr_type" value="1">唯一属性<else/>单选属性</eq></span></td>
                <td align="center"><span><eq name="vo.attr_input_type" value="1">手工输入<else/>列表选项</eq></span></td>
                <td align="center"><span>{$vo.attr_value}</span></td>

                <td align="center">
                <a href="{:U('edit','attr_id='.$vo['id'])}">编辑</a> |
                <a href="{:U('dels','attr_id='.$vo['id'])}" title="移除" onclick="">移除</a>
                </td>
            </tr>
            </volist>
            
        </table>
        <!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td width="80%">&nbsp;</td>
                <td align="center" nowrap="true">
                    {$data.pageStr}
                </td>
            </tr>
        </table>
        <!-- 分页结束 -->
    </div>
</form>
</block>